In [30]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if i==0 and j==n-1:
                print("*",end=" ")
            elif j>=start and j<=end:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

* * * * * * * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [26]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [55]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==j or i+j==n-1 :
            print(end=" ")
        elif i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

 7

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [53]:
def circle(n):
    row=n
    col=n
    for i in range(n):
        for j in range(n):
            if i==j or i+1==n-1:
                print(end=' ')
            elif i==0 or i==n-1 or j==0 or j==n-1:
                print("*",end='')
            else:
                print(" ",end='')
            
        print()
    
circle(5)

 ****
*   *
*   *

****

In [60]:

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [96]:
n=10
char='a'
for i in range(1,n+1):
    for j in range(i):
        print(char,end=" ")
        char=chr(ord(char)+1)
        if char>'z':
            char='a'
    print()

a
b c
d e f
g h i j
k l m n o
p q r s t u
v w x y z a b
c d e f g h i j
k l m n o p q r s
t u v w x y z a b c

In [82]:
def pyramid(n):
    row=n
    col=2*n
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [88]:
def pyramid(n):
    row=n+1
    col=2*n
    start,end=n-1,n-1
    for i in range(1,row):
        for j in range(0,col):
            if j>=start and j<=end:
                print(i,end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6

In [95]:
def Hollow_pyramid(n):
    row=n+1
    col=2*n-1
    start,end=n-1,n-1
    var=2
    for i in range(row):
        for j in range(col):
            if (j==start or j==end) and i!=n-1:
                if start==end:
                    print("1",end=' ')
                else:
                    if j==start:
                        print("1")
                    elif j==end:
                        print(var,end=' ')
            elif i==n-1 and (j<start anf j<-n-1):
                print(var2,end=' ')
                for k in range(col):
                    print(str(var)+" ",end=' ')
                    
                    var+=1
                
        print()
        start-=1
        end+=1
Hollow_pyramid(9)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3135639110.py, line 16)

In [93]:
def Hollow_pyramid(n):
    row = n + 1
    col = 2 * n - 1
    start = n - 1
    end = n - 1
    var = 1

    for i in range(row):
        for j in range(col):
            if (j == start or j == end) and i != n - 1:
                print("1", end=' ')
            elif i == n - 1:
                print(str(var) + ' ', end=' ')
                var += 1
            else:
                print(' ', end=' ')
        
        print()
        start -= 1
        end += 1

Hollow_pyramid(9)

                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [94]:
def triangular_pattern(n):
    max_width = 2 * n - 1
    for i in range(n):
        line = " ".join(str(j) for j in range(1, i+2))
        print(line.center(max_width))

triangular_pattern(6)

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [30]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if i==0 and j==n-1:
                print("*",end=" ")
            elif j>=start and j<=end:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

* * * * * * * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [26]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [55]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==j or i+j==n-1 :
            print(end=" ")
        elif i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

 7

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [53]:
def circle(n):
    row=n
    col=n
    for i in range(n):
        for j in range(n):
            if i==j or i+1==n-1:
                print(end=' ')
            elif i==0 or i==n-1 or j==0 or j==n-1:
                print("*",end='')
            else:
                print(" ",end='')
            
        print()
    
circle(5)

 ****
*   *
*   *

****

In [60]:

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [78]:
n=10
char='a'
for i in range(1,n+1):
    for j in range(i):
        print(char,end=" ")
        char=chr(ord(char)+1)
        if char>'z':
            char='a'
    print()+

a
b c
d e f
g h i j
k l m n o
p q r s t u
v w x y z a b
c d e f g h i j
k l m n o p q r s
t u v w x y z a b c

In [82]:
def pyramid(n):
    row=n
    col=2*n
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [88]:
def pyramid(n):
    row=n+1
    col=2*n
    start,end=n-1,n-1
    for i in range(1,row):
        for j in range(0,col):
            if j>=start and j<=end:
                print(i,end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6

In [92]:
def Hollow_pyramid(n):
    row=n+1
    col=2*n-1
    start,end=n-1,n-1
    var=2
    for i in range(row):
        for j in range(col):
            if (j==start or j==end) and i!=n-1:
                if start==end:
                    print(1,end=' ')
                elif j==start:
                    print(1,end=' ')
                 else:
                    print(var,end=' ')
                     var+=1
            elif i==n-1 and (j>=start and j<=n-1):
                
                var=1
                for k in range(col):
                    print(str(var)+" ",end=' ')
                    var+=1
                
        print()
        start-=1
        end+=1
Hollow_pyramid(9)

1
1
2
1
2
1
2
1
2
1
2
1
2
1
2
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [93]:
def Hollow_pyramid(n):
    row = n + 1
    col = 2 * n - 1
    start = n - 1
    end = n - 1
    var = 1

    for i in range(row):
        for j in range(col):
            if (j == start or j == end) and i != n - 1:
                print("1", end=' ')
            elif i == n - 1:
                print(str(var) + ' ', end=' ')
                var += 1
            else:
                print(' ', end=' ')
        
        print()
        start -= 1
        end += 1

Hollow_pyramid(9)

                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [94]:
def triangular_pattern(n):
    max_width = 2 * n - 1
    for i in range(n):
        line = " ".join(str(j) for j in range(1, i+2))
        print(line.center(max_width))

triangular_pattern(6)

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [30]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if i==0 and j==n-1:
                print("*",end=" ")
            elif j>=start and j<=end:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

* * * * * * * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [26]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [55]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==j or i+j==n-1 :
            print(end=" ")
        elif i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

 7

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [53]:
def circle(n):
    row=n
    col=n
    for i in range(n):
        for j in range(n):
            if i==j or i+1==n-1:
                print(end=' ')
            elif i==0 or i==n-1 or j==0 or j==n-1:
                print("*",end='')
            else:
                print(" ",end='')
            
        print()
    
circle(5)

 ****
*   *
*   *

****

In [60]:

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [78]:
n=10
char='a'
for i in range(1,n+1):
    for j in range(i):
        print(char,end=" ")
        char=chr(ord(char)+1)
        if char>'z':
            char='a'
    print()+

a
b c
d e f
g h i j
k l m n o
p q r s t u
v w x y z a b
c d e f g h i j
k l m n o p q r s
t u v w x y z a b c

In [82]:
def pyramid(n):
    row=n
    col=2*n
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [88]:
def pyramid(n):
    row=n+1
    col=2*n
    start,end=n-1,n-1
    for i in range(1,row):
        for j in range(0,col):
            if j>=start and j<=end:
                print(i,end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6

In [95]:
def Hollow_pyramid(n):
    row=n+1
    col=2*n-1
    start,end=n-1,n-1
    var=2
    for i in range(row):
        for j in range(col):
            if (j==start or j==end) and i!=n-1:
                if start==end:
                    print("1",end=' ')
                else:
                    if j==start:
                        print("1")
                    elif j==end:
                        print(var,end=' ')
            elif i==n-1 and (j<start anf j<-n-1):
                print(var2,end=' ')
                for k in range(col):
                    print(str(var)+" ",end=' ')
                    
                    var+=1
                
        print()
        start-=1
        end+=1
Hollow_pyramid(9)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3135639110.py, line 16)

In [93]:
def Hollow_pyramid(n):
    row = n + 1
    col = 2 * n - 1
    start = n - 1
    end = n - 1
    var = 1

    for i in range(row):
        for j in range(col):
            if (j == start or j == end) and i != n - 1:
                print("1", end=' ')
            elif i == n - 1:
                print(str(var) + ' ', end=' ')
                var += 1
            else:
                print(' ', end=' ')
        
        print()
        start -= 1
        end += 1

Hollow_pyramid(9)

                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [94]:
def triangular_pattern(n):
    max_width = 2 * n - 1
    for i in range(n):
        line = " ".join(str(j) for j in range(1, i+2))
        print(line.center(max_width))

triangular_pattern(6)

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [30]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if i==0 and j==n-1:
                print("*",end=" ")
            elif j>=start and j<=end:
                print(" ",end=" ")
            else:
                print("*",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

* * * * * * * * * * *
* * * *       * * * *
* * *           * * *
* *               * *
*                   *

In [26]:
def pyramid(n):
    row=n
    col=2*n-1
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [55]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==j or i+j==n-1 :
            print(end=" ")
        elif i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

 7

 *****
*     *
*     *
*     *
*     *
*     *
 *****

In [53]:
def circle(n):
    row=n
    col=n
    for i in range(n):
        for j in range(n):
            if i==j or i+1==n-1:
                print(end=' ')
            elif i==0 or i==n-1 or j==0 or j==n-1:
                print("*",end='')
            else:
                print(" ",end='')
            
        print()
    
circle(5)

 ****
*   *
*   *

****

In [60]:

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [78]:
n=10
char='a'
for i in range(1,n+1):
    for j in range(i):
        print(char,end=" ")
        char=chr(ord(char)+1)
        if char>'z':
            char='a'
    print()+

a
b c
d e f
g h i j
k l m n o
p q r s t u
v w x y z a b
c d e f g h i j
k l m n o p q r s
t u v w x y z a b c

In [82]:
def pyramid(n):
    row=n
    col=2*n
    start,end=n-1,n-1
    for i in range(row):
        for j in range(col):
            if j>=start and j<=end:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [88]:
def pyramid(n):
    row=n+1
    col=2*n
    start,end=n-1,n-1
    for i in range(1,row):
        for j in range(0,col):
            if j>=start and j<=end:
                print(i,end=" ")
            else:
                print(" ",end=" ")
        print()
        start-=1
        end+=1
pyramid(6)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6

In [92]:
def Hollow_pyramid(n):
    row=n+1
    col=2*n-1
    start,end=n-1,n-1
    var=2
    for i in range(row):
        for j in range(col):
            if (j==start or j==end) and i!=n-1:
                if start==end:
                    print(1,end=' ')
                elif j==start:
                    print(1,end=' ')
                 else:
                    print(var,end=' ')
                     var+=1
            elif i==n-1 and (j>=start and j<=n-1):
                
                var=1
                for k in range(col):
                    print(str(var)+" ",end=' ')
                    var+=1
                
        print()
        start-=1
        end+=1
Hollow_pyramid(9)

1
1
2
1
2
1
2
1
2
1
2
1
2
1
2
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [93]:
def Hollow_pyramid(n):
    row = n + 1
    col = 2 * n - 1
    start = n - 1
    end = n - 1
    var = 1

    for i in range(row):
        for j in range(col):
            if (j == start or j == end) and i != n - 1:
                print("1", end=' ')
            elif i == n - 1:
                print(str(var) + ' ', end=' ')
                var += 1
            else:
                print(' ', end=' ')
        
        print()
        start -= 1
        end += 1

Hollow_pyramid(9)

                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17

In [94]:
def triangular_pattern(n):
    max_width = 2 * n - 1
    for i in range(n):
        line = " ".join(str(j) for j in range(1, i+2))
        print(line.center(max_width))

triangular_pattern(6)

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [ ]:
for i in range(row):